name: JSDoc Documentation

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  jsdoc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - run: npx jsdoc -c jsdoc.json
